.Card {
  padding: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.Card-grey {
  background-color: lightgrey;
  color: black; /* Text color for Backlog */
}

.Card-blue {
  background-color: skyblue;
  color: navy; /* Text color for In Progress */
}

.Card-green {
  background-color: green;
  color: white; /* Text color for Complete */
}